/* Navigation Bar */
header nav {
    gap: 0rem;
    grid-template-areas: 
    'menu login';
    display: grid;
    img {
        display: none;
    }
    #hide-nav {
        grid-area: menu;
        display: block;
    }
    #hide-nav:hover + ul, ul:hover {
        display: block;
        flex-direction: column;
        width: 10rem;
        background-color: inherit;
    }
    ul {
        display: none;
        flex-direction: column;
    }
    #login_signout_button {
        grid-area: login;
    }

}

/* ################################################################### */
/* ############################# Index ############################### */
#myself {
    flex-direction: column;
    min-height: fit-content;
    #aboutme {
        width: 90%;
        margin: auto auto;
        margin-top: 0;
        margin-bottom: 0;
        div {
            background-image: url("/images/me.png");
            background-size: cover;
        }
    }
    figure {
        width: fit-content;
        height: fit-content;
        img {
            display: none;
        }
    }
}